/* 
    Created on : Mar 14, 2014, 12:23:46 PM
    Author     : batkins
*/

/* single page */

/* summary loop */

#tribe-events h2 {color: #86AE34; font-size:2em;}
.tribe-events-list .tribe-events-event-image {width:25%; float:left;}
.tribe-events-list-event-title.summary{clear:none; margin-bottom:10px;}
.tribe-events-event-meta{padding-top:10px;}
.tribe-events-list-event-title.summary a {color: #86AE34; font-size: 1.25em; line-height:1.25em; font-weight:bold; margin:1em 0;}
.tribe-events-list-event-title.summary a:hover {text-decoration: underline !important;}
#content .tribe-events-event-meta dt {font-weight: bold; float: left; width: 28%; margin: 0.25em 0; clear: both; font-size:15px;}
#content .tribe-events-event-meta dd {float: right; width: 72%; margin: 0.25em 0; font-weight:normal; font-size:15px;}

#content .tribe-events-single-event-meta dt {}
#content .tribe-events-single-event-meta dd {margin-bottom: 1em;}
.tribe-events-single-event-description{clear:both;}

.street-address {float:left; clear:both;}
.locality{float:left; clear:both;}
.region {float:left; clear:both;}
.country-name{float:left; clear:both;}

a.tribe-events-gmap{float:left; clear:both;}
.event-googlemap{margin:25px 0;}

.tribe-events-read-more {margin-top: 1em; margin-left: 25%; background-color: #86AE34; border-radius: 0.5em; color: #FFFFFF; display: block; font-weight:bold; font-size: 100%; padding: 0.5em 1%; text-align: center; text-decoration: none; width: 35%;}
a:hover.tribe-events-read-more {color:#fff; }
.single-tribe_events .gform_button{margin-top: 1em; margin-left: 25%; background-color: #86AE34; border-radius: 0.5em; color: #FFFFFF; display: block; font-weight:bold; font-size: 100%; padding: 0.5em 1%; text-align: center; text-decoration: none; width: 35%; margin-left: 6%;}
.single-tribe_events h3{color: #86AE34; font-size:2em; line-height:1; margin-top:40px;}
.single-tribe_events #primary {border-right: 1px solid #d3d3d3;}
.type-tribe_events{padding:0 !important;}


.event-address { display: block;}
.event-city, .event-city ~ * { display: inline-block;}
.event-zip { padding-left:3px;}

/* Events Page */
.events-archive #main { overflow: visible;}
.events-archive #main:after, .events-archive .tribe-events-event-meta:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; zoom:1; }
.events-archive #tribe-events > img { margin-top:-50px; max-width:100%;}
.events-archive .tribe-events-list .tribe-events-loop .tribe-events-list-event-description { width:60%;}
.events-archive .tribe-events-event-meta dl { margin:0;}
.events-archive .tribe-events-read-more { clear: left; margin-left:28%;}
.tribe-events-list-separator-month { margin-bottom:20px;}
.tribe-events-list .vevent.hentry { padding-bottom: 25px !important; margin-bottom:25px;}
.tribe-events-list .vevent.hentry:last-child { margin-bottom:0; padding-bottom:0 !important;}


.single-tribe_events .tribe-events-read-more {margin:10px 0;}